<div layout="column" layout-md="column" layout-sm="column" layout-padding> 
    <a href="#!/">Back to Search</a>
    <h5>Forecast for {{city}}, {{ weatherResult.city.country }}</h5> </hr>

      <div layout="row" layout-align="space-between center">
        <span>Forecast Days</span>
        <md-select ng-model="forecast.selectedDays" placeholder="Nothing" class="md-no-underline" ng-change="onForecastDaysChanged()">
            <md-option ng-repeat="days in forecast.days" 
                       ng-value="days">
              {{days.displayName}}
            </md-option>
        </md-select>
      </div>

    <md-tabs md-selected="selectedIndex">
        <md-tab ng-repeat="weather in weatherResult.list">
            <md-tab-label> {{ convertToDate(weather.dt) | date: dateFormat }} </md-tab-label>
            <md-tab-body>
                <custom-weather convert-to-date="convertToDate(dt)" convert-to-standard="convertToFahrenheit(dayTimeTemp)" weather-day="weather" date-format="{{dateFormat}}"></custom-weather>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</div>